/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 5, 2015, 4:46:39 PM
    Author     : Zach
*/

body {  min-width:1500px; }

//Encases the entire game inside a wrapper
#wrapper {
    position: relative;
    margin: 0 auto;
    width:80%;
    height:75%;
}

//Encases the Game Board and Tile Rack of Scrabble
#gameSpace {
    float:left;
    position: relative;
    width: 80%;
    height: 500px;
    background: grey;
    text-align: center;
}

//Normal empty scrabble tile
#gameTile {
    background-image:url(ScrabbleImages/plain_square.png);
    background-repeat: no-repeat;
}

//double score empty tile
#doubleTile {
    background-image:url(ScrabbleImages/double_letter_square.png);
    background-repeat: no-repeat;
}

//triple score empty tile
#tripleTile {
    background-image:url(ScrabbleImages/triple_word_square.png);
    background-repeat: no-repeat;
}

//empty tile properties
.emptyTile{
    margin-top: 50px;
    display: inline-block;
    height: 100px;
    width: 100px;
}

//highlights draggable and droppable spaces
.border {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 2px;
  border: 1px solid white;
}

#letterSpace {
    position: absolute;
    bottom: 0;
    background-image: url(ScrabbleImages/scrabble_rack.png);
    background-repeat: no-repeat;
}

//tiles for the game
.letterTile {
    display: inline-block;
    position: relative;
    bottom: 0;
    width: 90px;
    height: 90px;
    max-width: 200px;
}


#scoreSpace {
    float: right;
    width: 20%;
    height: 500px;
    background: lightgrey;
    text-align: center;
}

#restart{
    
}